/*basic setup*/
:root{
	--color: #6c5ce7;
}

*{
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	text-decoration: none;
	transition: .2s;
	font-size: 1.6rem;
	scroll-behavior: smooth;
}

html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
}

section{
	padding: 2rem;
}

/*reuseable componets*/
.btn{
	width: 16rem;
	height: 4rem;
	background: purple;
	color: #fff;
	font-size: 1.6rem;
	text-transform: uppercase;
	text-align: center;
	padding-top: .8rem;
	box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.btn:hover{
	letter-spacing: .2rem;
}

.heading{
	position: relative;
	font-size: 3.5rem;
	color: var(--color);
	padding-top: 3rem;
	letter-spacing: .2rem;
	text-align: center !important;
	display: inline-block;
	margin: 2rem;
}

.heading::before, .heading::after{
	content: '';
	position: absolute;
	
	width: 2.5rem; height: 2.5rem;
	border-top: .4rem solid var(--color);
	border-left: .4rem solid var(--color);;
}

.heading::before{
	top: 3.5rem;
	left: -1rem;

}

.heading::after{
	transform: rotate(180deg);
	right: -1rem;
	bottom: .5rem;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content{
	text-align: left;
}

.content h2{
	font-size: 3rem;
	color: var(--color);
}

.content p{
	margin: 1rem 0;
	color: #333;
}

.content .btn{
	display: inline-block;
	margin-top: 2rem;
}

.image img{
	width: 100%;
	height: 80%;
	object-fit: cover;
}




/*header serction style*/
#header{
	width: 100%;
	position: fixed;
	top:0; left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	z-index: 100;
}



#header .logo{
	font-size: 2.8rem;
	color: #fff;
}

#header .logo i{
	padding: 1rem;
}

#header .fa-bars{
	color: #fff;
	font-size: 3rem;
	cursor: pointer;
	display: none;
}

#header .fa-times{
	transform: rotate(180deg);
}

#header nav ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#header nav ul li{
	margin: 0 1.5rem;
}

#header nav ul li a{
	color: #fff;
	font-size: 2rem;
}

#header nav ul li a:hover{
	color: #ccc;
}

#header .nav-toggle{
	top: 5.8rem;

}

.header-active{
	background: #6c5ce7;
	transition: 0.5s;
}


/*home section style*/
#home{
	width: 100vw;
	min-height: 100vh;
	background: linear-gradient(purple, var(--color));
	display: flex;
	position: relative;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	overflow: hidden !important;
	text-align: center;
	padding: 0 2rem;
	z-index: 50;
}

#home .banner{
	color: #fff;
	font-size: 5rem;
	text-shadow: 0 .3rem .5rem rgba(0,0,0,0.3);
	font-family: 'Lobster', cursive;
}

#home .slogan{
	font-size: 2rem;
	color: #eee;
	font-weight: 300;
}

#home .btn{
	margin-top: 1.5rem;
}

#home .wave{
	position: absolute;
	bottom: -.5rem; left: 0;
	width: 100%;
	height: 11rem;
	background: url(../img/wave.png);
	background-repeat: repeat-x;
	animation: wave 3s linear infinite;
	z-index: 5;
}

#home .wave2{
	animation-direction: reverse;
	opacity: 0.5;
	z-index: 15;
}

#home .wave3{
	animation-duration: 5s;
	opacity: 0.6;
	z-index: 8;
}

@keyframes wave{
	0%{
		background-position-x: 0;
	}

	100%{
		background-position-x: 100rem;
	}
}

#home .fa-cog{
	color: #fff;
	font-size: 25rem;
	position: absolute;
	opacity: 0.3;
	z-index: -1;
	animation: rotate 15s linear infinite;
}

@keyframes rotate{
	0%{
		transform: rotate(0);
	}

	100%{
		transform: rotate(360deg);
	}
}

.nut1{
	top: 20%;
	left: -1rem;
}

.nut1-with{
	top: 40%;
	left: 20rem;
	font-size: 12rem !important;
	animation-direction: reverse !important;
}

.nut2{
	bottom: 15%;
	right: -1rem;
	animation-direction: reverse !important;
	font-size: 20rem !important;
}

.nut2-with{
	bottom: 7%;
	right: -1rem;
	font-size: 8rem !important;
}


/*about section style start*/
#about{
	width: 100vw;
	height: 100vh;
	padding: 0 2rem;
	text-align: center;
}


#about h1{
	text-align: center;
	font-size: 4rem;
	margin-top: 2rem;
}

/*about section style end*/

/*services section start*/
#services{
	width: 100vw;
	min-height: 100vh;
	padding: 0 2rem;
	text-align: center;
}

#services img{
	width: 70%;
	height: auto;
	object-fit:  cover;
}

#services .heading{
	margin-top: 5rem;
}
/*services section end*/

/*team section start*/
#team{
	background: #222;
	width: 100vw;
	min-height: 100vh;

	margin-top: 2rem;
	text-align: center;
}

#team .heading{
	color: #fff;
}
#team .heading::before,
#team .heading::after{
	border-color: #fff;
}

#team .row{
	display: flex;
	align-items: center;
	justify-content: center;
}

#team .card{
	width: 25rem;
	height: 35rem;
	background: #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem .3rem rgba(0,0,0,0.3);
	margin: 7rem 2rem;
	position: relative;
	overflow: hidden;
	transition: 1s !important;
	z-index: 20;
	padding: 2rem 1rem;
}

#team .card::before,
#team .card::after{
	content: '';
position: absolute;
width: 216% !important;
height: 85%;

z-index: -1;
clip-path: circle(20%);
transition: 1s;
}

#team .card::before{
background: linear-gradient(var(--color), rgb(128,0,128, 0)) !important;
top: -12rem;
right: -29rem;
}

#team .card::after{
	background: linear-gradient(transparent, purple);
	
	bottom: -12rem;
	left: -29rem;
}

#team .card:hover::before{
	clip-path: circle(100%);
}

#team .card:hover::after{
	clip-path: circle(100%);
}

#team .card img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	border: .3rem solid purple;
}

#team .info h3{
	font-size: 2rem;
	color: #333;
}

#team .info h4{
	font-size: 1.5rem;
	color: var(--color);
	font-weight: 400;
}

#team .info a{
	display: inline-block;
	color: #333;
	font-size: 2rem;
	margin: 1.5rem 1rem;
}

#team .info a:hover{
	color: #fff;
}


/*team section end*/


/*contact section style start*/
#contact{
	width: 100vw;
	min-height: 100vh;
	text-align: center;
	padding: 0 2rem !important;
	overflow: hidden;
}

#contact .row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5rem;
	justify-content: center;
	align-items: center;
}

#contact .image img{
	width: 100% !important;

}

form{
	width: 80%;
	text-align: left;
	margin: auto;
}

form .inputbox{
	position: relative;
	margin: 3rem 0;
}

form input[type="text"] ~ h3,
form textarea ~ h3{
	position: absolute;
	top: 1rem;
	left: 2rem;
	font-size: 1.8rem;
	font-weight: 300;
}

form input[type="text"]:focus ~ h3,
form input[type="text"]:valid ~ h3{
	top: -2.5rem;
	left: 1rem;
	font-size: 1.5rem;
	color: var(--color);
}

.message h3{
	position: absolute;
	top: 1rem;
	left: 2rem;
	font-size: 1.8rem;
	font-weight: 300;
}



.message textarea:focus ~ h3,
.message textarea:valid ~ h3{
	top: -2.5rem;
	left: 1rem;
	color: var(--color);
	font-size: 1.5rem;

}


form input[type="text"],
textarea{
	width: 100%;
	padding: .8rem 1.5rem;
	border-radius: 1rem;
	border: .1rem solid #33333382;
	text-transform: none;
	font-size: 1.6rem;
	box-shadow: .2rem .2rem .5rem rgba(0,0,0,.2);
}

form input[type="submit"]{
	outline: none;
	border: none;
	background: var(--color);
	padding-top: 0 !important;
	cursor: pointer;
}
/*contact section style end*/

/*FAQ section style start*/
#faq{
	width: 100vw;
	min-height: 100vh;
	padding: 0 4rem;
	text-align: center;
}

#faq .container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#faq .accordion-container{
	text-align: left;
	width: 100%;

}

.accordion .accordion-header{
	background: var(--color);
	color: #fff;
	font-size: 2rem;
	margin: 1rem 0;
	box-shadow: .2rem .2rem .3rem rgba(0,0,0,.2);
	cursor: pointer;
}

.accordion .accordion-header span{
	display: inline-block;
	font-size: 2.2rem;
	background: #fff;
	color: var(--color);
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
	padding: 1rem;
	margin-right: 1rem;
}

.accordion .accordion-header h2{
	display: inline-block;
	font-weight: 400;
}

.accordion .accordion-body{
	padding: 1rem;
	font-size: 1.4rem;
	box-shadow: 0 0 .3rem rgba(0,0,0,.3);
	display: none;
}

.accordion:first-child .accordion-body{
	display: block;
}

#faq .image img{
	width: 100%;
	height: 80%;
	object-fit: cover;
}
/*FAQ section style end*/


/*footer section*/
#footer{
	width: 100vw;
	background: var(--color);
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer h1{
	font-size: 1.8rem;
	color: #fff;
	font-weight: 300;
	padding: 2rem;
}

#footer h1 a{
	color: #fff200;
}

/*responsive media queries*/
@media(max-width: 768px){
	html{
		font-size: 50%;
	}
	#header .fa-bars{
		display: block;
	}

	#header nav{
		background: #fff;
		position: fixed;
		top: -100%; left: 0;
		width: 100%;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		z-index: 100;
		transition: .5s;
	}

	#header nav ul{
		flex-flow: column;
		height: 100%;
		width: 100%;
		padding: 1rem 0;

	}

	#header nav ul li{
		margin: 1.5rem auto;
	}

	#header nav ul li a{
		font-size: 2.4rem;
		color: #444;
	}

	#header nav ul li a:hover ~ nav li{
		background: var(--color);
	}

	.container{
		flex-flow: column;
	}

    #about .container{
		flex-flow: column-reverse;
	}

	.content{
		text-align: center;
	}

	#team .row{
		flex-flow: column;
	}

	#team .card{
		margin: 2rem 0;
	}

	#contact .row, #faq .container{
		grid-template-columns: 1fr;
	}


}